{% extends "base.html" %}

{% block content %}
<h4 align="center">Works log</h4>
{% for job in jobs %}
  <table class="table table-striped">
    <h3>Action {{ job.id }}</h3>
    <thead>
      <tr>
        <th scope="col">Title of activity</th>
        <th scope="col">team_leader</th>
        <th scope="col">Duration</th>
        <th scope="col">List of collaborators</th>
        <th scope="col">is_finished</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ job.job }}</td>
        <td>{{ job.team_leader }}</td>
        <td>{{ job.work_size }}</td>
       <td>{{ job.collaborators }}</td>
        <td>{{ job.is_finished }}</td>
      </tr>
    </tbody>
  </table>
{% if current_user.is_authenticated %}
{% if current_user.id == job.team_leader or current_user.position == 'captain' %}
    <div>
        <a href="/jobs/{{ job.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}